<div class="container">
  <table>
    <tr>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Winner</th>
      <th>Time</th>
    </tr>
    <tr>
      <td><%= @p1name %></td>
      <td><%= @p2name %></td>
      <td><%= @winner_name %></td>
      <td><%= @time %></td>
    </tr>
  </table>

  <p><a href = '/'>Home!</a></p>
  <p><a href =<%= "/game?p1=#{@p1_id}&p2=#{@p2_id}" %>>Replay</a></p>

</div>
